html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */
body{
    background-color: #f3f3f3;
}

#head{
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: 35px;
  line-height: 21px;
}

.dropBox{
    font-size: 14px;
    color: #666666;
    /*height:50px;
    line-height: 50px;*/
    border: 1px solid #000;
    float: left;
}

#middle{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#list{
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 5px;
}

#headTable{
    border-collapse:collapse;
    width: 100%;
    background-color: transparent;
}

#headTable tr{
    border-bottom: 1px solid #f3f3f3;
    height: 50px;
    line-height: 50px;
    border-left: 3px solid #fff;
}

#headTable tr:hover{
    background-color: #b4fdee;
    border-left: 3px solid #1ABC9C;
}

#headTable td{
  font-size: 14px;
  color:#666666;
}

#titleTd{
    padding-left: 10px;
    width: 30%;
    min-width: 120px;
}

#codeTd{
    text-align: center;
    width: 25%;
    min-width: 100px;
}

#syncTd{
    text-align: center;
    width: 20%;
    min-width: 80px;
}

#editTd{
    width: 25%;
    min-width: 100px;
}

#operTd{
    width: 200px;
    min-width: 100px;
}
